[Unit]
Description=Manage Logitech G510s Lights and Special Keys
After=syslog.target

[Service]
Type=simple
ExecStart=/usr/bin/g510s
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartSec=15s

[Install]
WantedBy=multi-user.target
